# Dependencies
node_modules

# Scripts and source
scripts
src

# Package management
package-lock.json

# Configuration files
tsconfig.json
eslint.config.js

# Development and tooling
.github
.husky

# Documentation
docs

# Extra directories
packages